* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
main{
  background-image: url("../img/4845746.jpg");
  background-image: no-repeat;
  background-image: fixed;
background-image: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(38, 38, 190);
  height: 90px;
}
nav img{
  width: 150px;
  cursor: pointer;
}
.logo{
  margin-left: 10px;
}
h2 {
  text-align: center;
}
ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 30%;
}
ul li a{
  text-decoration: none;
  color: #fcfcfc;
}
.titulo-app{
  text-align: center;
  background-color: #1153f6;
  font-size: 40px;
}
form{
  color: #0f0f0f;
  text-shadow: 0px 5px 3px rgba(0,0,0,0.52);
}
input {
  width: 97%;
  border-radius: 5px;
  border: none;
  height: 25px;
  background-color: rgba(190, 183, 183, 0.973);
  padding: 0 10px;
}
fieldset {
  display: flex;
  flex-direction: column;
}
.boton {
  color: white;
}
.guardar {
  margin: 10px ;
  background-color: #2d2aca;
  height: 40px;
  width: 150px;
}
.boton:hover {
  opacity: 0.8;
}
.eliminar {
  background-color: #ff5712;
}
.cancelar {
  background-color: #1153f6;
}
table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
}
th,
td {
  border: 1px solid black;
  padding: 5px 10px;
}
th {
  text-transform: capitalize;
}
td {
  text-align: right;
}
tr:hover {
  opacity: 0.8;
}
tr{
    cursor: pointer;
}
.rowPar {
  background-color: #161313;
  color: #fff;
}
.spinner {
  border: 8px solid #f3f3f3; /* color del borde del spinner */
  border-top: 8px solid #db3434; /* color de la parte superior del spinner */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite; /* animación del spinner */
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden, .hidden-btn{
  display: none; /* clase para ocultar el spinner */
}
.headRow{
  background-color: #FF0000;
}
.titulo-superheroes{
  color: #f3f3f3;
}
@media screen and (max-width: 680px) {
  ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
  }
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #301d75;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
